/* .App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #555;
  margin: 10px 0;
} */

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}


.loading {
  font-size: 24px;
  text-align: center;
}


.error {
  color: red;
  text-align: center;
  font-size: 18px;
}


.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.user-card {
  width: 200px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.user-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

