.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #555;
  margin: 10px 0;
}



